<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="Fika es una aplicación que permite a los usuarios buscar comidas disponibles de manera sincrónica con la hora de su sistema.">
<meta name="author" content="Deivi Campos">
<meta name="keywords" content="Fika, comida, búsqueda, locales abiertos">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fika</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/cr-1.6.2/r-2.4.1/sb-1.4.1/datatables.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="icon" th:href="@{/imgs/foodIco.png}" type="image/x-icon"/>
</head>
<body class="backColorBody">
	<header>
		<div th:replace="~{NavApp}" class="container-fluid"></div>
	</header>
	<main>
		<div id="block01">
			<div class="container table-responsive py-5">
		<!-- 	<hr class="border border-primary border-3 opacity-75"> -->
				<table class="table table-dark table-hover display w-100" id="localesPlatillos">
					<thead class="bg-primary">
						<tr >
							<th class="text-center">Local</th>
							<th class="text-center">Platillo</th>
							<th class="text-center">Precio</th>
							<th class="text-center">Express</th>
							<th class="text-center">Tel</th>
							<th class="text-center">Whatsapp</th>
							<th class="text-center">Entrega</th>
							<th class="text-center">Cierra en</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="local : ${platillosLocales}">
							<td th:text="${local.nombreLocal}"></td>
							<td th:text="${local.nombrePlatillo}"></td>
							<td th:text="${local.precio}"></td>
							<td th:text="${local.express== true}? 'Si':'No'"></td>
							<td th:text="${local.telefono}"></td>
							<td class="text-center"><a th:href="'https://web.whatsapp.com/send?phone=+506'+${local.telefono}+'&text=¡Hola!+Quiero+pedir+una+'+${local.nombrePlatillo}+'.&type=phone_number&app_absent=0'"target="_blank"><i class="bi bi-whatsapp"></i>
					</a></td>
							<td th:text="${local.tiempoEntrega} +' min'"></td>
							<td th:text="${local.tiempoCerrar <= 60 && local.tiempoCerrar > 0 ? local.tiempoCerrar+' min' : 'Más de una hora'}"></td>
						</tr>
					</tbody>
				</table>
			<a th:href="@{/}" class="btn w-25 p-3 shadow my-5 botones text-white" type="button">Volver</a>
			</div>
		</div>
		<div id="block03">
		</div>
	</main>
	<footer class="container-fluid text-center">
		<div th:replace="~{FooterApp}"></div>
	</footer>
	<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/cr-1.6.2/r-2.4.1/sb-1.4.1/datatables.min.js"></script>
    <script th:src="@{/js/main.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/popper.min.js}" defer></script>
</body>
</html>